.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-height: 3rem;
  padding: 8px;
  cursor: pointer;
  background-color: var(--alert-background);
  margin-bottom: 12px;
}

.alert:hover {
  filter: brightness(85%);
}

.alert-body {
  display: flex;
  align-items: center;
}

.alert img {
  max-width: 100%;
  max-height: 2rem;
  margin-right: 1rem;
}

.alert-info {
  color: var(--info-color);
  border: 4px groove var(--info-color);
}

.alert-error {
  color: var(--warning-color);
  border: 4px groove var(--info-color);
}
