@import url("./colors.css");
@import url("./santa.css");
@import url("./alerts.css");

@font-face {
  font-family: "Comic Sans";
  src: url("/fonts/LDFComicSans.ttf");
}

html,
body {
  background-image: url("/images/snow.gif");
  font-family: "Comic Sans";
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

@media (prefers-reduced-motion: reduce) {
  body {
    background-color: rgba(39, 111, 124, 0.9);
  }
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

.navbar {
  background-image: url("/images/stars.gif");
  border: 8px groove var(--border-color);
  padding: 12px;
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2rem;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 5px;
  min-height: 100%;
  background-color: var(--content-background);
  border: 4px groove var(--border-color);
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sins-image {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: calc(min(0.4vw, 4vh));
  width: 40%;
  border: 4px solid var(--border-color);
}

.yellow {
  color: yellow;
}

.inline-icon {
  width: 2rem;
  height: 2rem;
}
