* {
  box-sizing: border-box;

  --content-background: rgba(104, 172, 184, 0.9);
  --border-color: white;
  --link-color: white;
  --link-hover: rgb(122, 122, 247);

  --alert-background: white;
  --info-color: rgb(15, 117, 201);
  --warning-color: rgb(238, 205, 20);
}
