* {
  --santa-width: 30rem;
  --santa-height: 11rem;
}

.santa {
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  box-sizing: border-box;

  border: 8px groove var(--border-color);
}

.santa div {
  display: inline-block;
  width: max-content;

  padding-left: 100%;
  will-change: transform;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .santa span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    width: auto;
    padding-left: 0;
  }
}
